<div class="appcontent about-page">

    <div class="container white-bg">
        <div class="row">
            <div class="col-xs-8 stretch-on-small">
                <h1>About</h1>
                <p>Epic Auto Center is a <strong>Honda and Acura repair specialist automotive shop</strong>. With 24 years of experience, you get dealer quality work at an independent cost. <br><br>Epic offers a full range of services and preventative maintenance from oil changes, brakes, comprehensive per-purchase inspections, and everything in between.  Epic Auto Center is excited to provide trustworthy, professional service on any car troubles you may be experiencing.
                </p>
            </div>
            <div class="col-xs-4 text-centered hide-on-small" style="padding-top:10px;">
                <img src="images/logo.png" class="img-auto-width" />
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-5 text-centered hide-on-small">
                <img src="images/ken_cropped.jpg" class="img-rounded img-auto-width"/>
            </div>

            <div class="col-xs-7 stretch-on-small">

                <h2>Kenny Morris</h2>

                <img src="images/ken_cropped.jpg" class="img-rounded img-auto-width show-when-small"/>

                <p>Prior to co-founding Epic Auto Center, Kenny spent over seven years providing superior service for Honda and Acura vehicles.  For five of those seven years, he was employed as a Service Technician with Leith Honda, one of the largest automotive groups in the Triangle area. He was awarded the "Outstanding Performance Award" from Leith Automotive Group in 2012, and also won second place in Leith's highly coveted "Key Competition". </p>

                <p>In 2006, Kenny graduated with honors from Universal Technical Institute (UTI) in Mooresville, North Carolina, with three ASE certifications and a 94 GPA.  While attending school, he completed the prestigious Audi Academy Program in Arizona, where he sharpened his diagnostic skills.</p>

                <p>Although Kenny is to well qualified to service many vehicle brands, he chose to specialize in Hondas and Acuras.  Kenny loves when his customers bring him challenges; he considers himself the go to guy that can find and fix the problem when others can’t.  If you don’t believe him, just ask his many happy customers. </p>

                <p>In his spare time, Kenny enjoys watching and playing hockey, as well as spending time with friends and family.  He looks forwarding to helping you maintain and / or repair your vehicle!</p>
            </div>

        </div>

        <div class="large-bottom-margin"></div>

    </div>

    <div class="footer-holder"></div>

</div>
